@import 'fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
:root{
    --m-l: 'montserrat-light';
    --b-r: 'Bangers-Regular';
    --r-b: 'raleway-bold';
    --r-e: 'raleway-extrabold';
    --r-m: 'raleway-medium';
    --r-r: 'raleway-regular';
    --r-s: 'raleway-semibold';
}
@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

.section-img{
    background-image: url('./image/fon-one.jpg');
    background-position: center;
    background-size: cover;
    height: 700px;
}
.nav-item .nav-link, .text-name{
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.text-info{
    font-family: 'Montserrat', sans-serif;
    color: gray !important;
    line-height: 28px;
    width: 40vw;
}
.contact-us{
    font-family: 'Montserrat', sans-serif;
    width: 230px;
}
.text-paragraph{
    font-family: 'Montserrat', sans-serif;
    color: gray !important;
    line-height: 28px;
    width: 45vw;
}
.professional-skills, .contact{
    background-color: #f8f9f9;
}
.progress{
    height: 4px;
}
.progress-name{
    font-size: 14px;
    font-weight: bold;
}
@media (max-width: 637px){
    .img-fluid {
        max-width: 100%;
        height: 270px;
    }
    .professional-skills-left{
        padding-bottom:20px;
    }
}
.navbar{
    background: rgb(225,227,231);
    background: linear-gradient(90deg, rgba(225,227,231,1) 10%, rgba(225,229,235,1) 67%, rgba(178,188,203,1) 100%);
}
.statistics{
    background-color: #007d2f;
}
.size-icon{
    font-size: 50px;
    color: gray;
}
@media (max-width: 992px){
    .pic__proccess-photo{
        height: 400px;
    }
}
@media (max-width: 768px){
    .pic__proccess-photo{
        height: 300px;
    }
}
.types-jobs{
    background-color: #f8f9f9;
}
.types-jobs-paragraph{
    font-family: 'Nunito Sans', sans-serif;
    color: gray;
}
.smart-sentences{
    background-color: #007d2f;
}
.slider{
    background: #007d2f;
    width: 100%;
    height: 500px;
}
.carousel-inner {
    height: 450px;
}
.carousel-item{
    height: 350px;
    margin-right: -100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-image: none;
}
.slider .carousel-indicators .active{
    width: 12px;
    height: 12px;
    background-color: #ee6103;
} 
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    transition: .5s;
}
.contact{
    height: 100%;
}
.project-info{
    width: 50%;
    font-family: 'Nunito Sans', sans-serif;
    color: gray;
    margin: auto;
}
.havolalar{
    list-style: none;
    
}
.havolalar a{
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}
@media (max-width: 768px){
    .send-messages{
        font-size: 10px;
    }
}
.carousel-item{
    color: black;
}
